input,
button,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.order_status_dropdown1,
.order_status_dropdown2,
.subtotal,
.basket-product,
.product-image,
.product-details {
	float: left;
}

.item {
	width: 47%;
}

.price {
	width: 15%;
}

.quantity {
	width: 8%;
}

.order_status{
	width: 15%;
}

.subtotal {
	width: 15%;
}

.order_status_dropdown2
{
	display: block;
	width: 15%;
}
.dropdown1{
	font-size: 10px;
}

.order_status_dropdown1
{
	display: block;
	width: 15%;
	padding-left: 30px;
}

.order_status_dropdown2 ul li {
	list-style: none;
	margin: 0 auto;
	display: inline-block;
	padding: 0 30px;
	position: relative;
	text-decoration: none;
	text-align: center;
	z-index: 2;
}
.li1{
	padding: 0px;
}

.order_status_dropdown2 li a {
	color: rgb(68, 68, 68);
}

.order_status_dropdown2 li a:hover {
	color: #d2d2d2;
}

.order_status_dropdown2 li:hover {
	cursor: pointer;
}

.order_status_dropdown2 ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	padding-left: 0;
	left: 0;
	display: none;
	background: rgb(251, 247, 242);
}

.order_status_dropdown2 ul li:hover>ul,
.order_status_dropdown2 ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
	min-width: 100px;
	text-align: left;
	padding-top: 20px;
	box-shadow: 0px 3px 5px -1px #ccc;
}

.order_status_dropdown2 ul li ul li {
	clear: both;
	text-align: left;
	margin-bottom: 15px;
	border-style: none;
}

.order_status_dropdown2 ul li ul li a:hover {
	padding-left: 10px;
	transition: all 0.3s ease;
}

.order_status_dropdown2>a {
	text-decoration: none;
}

.order_status_dropdown2 a:hover {
	color: #95b1c5;
}

.order_status_dropdown2 ul li ul li a {
	transition: all 0.5s ease;
}
.basket{
	margin: 5rem;
	min-height: 500px;
}
#order_status_dropdown21{
	margin: 0 0 0 30px ;
}
@media screen and (min-width: 1300px) {
	main{
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	.basket{
		width: 83%;
		margin: 0 50px 0 0;
	}

}