html,
body {
    height: 100%;
}

.product-listform {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    /* height: 800px; */
}

.product-image {
    max-width: 250px;
    width: 100%;
    max-height: 250px;
    height: 100%;
}

.aa-product-title {
    font-size: 12px;
    height: 30px;
}

/* 페이지내이션 */
.pagenation-form {
    width: 100%;
    margin-top: 70px;
}

.pagenation {
    font-size: calc(0.6vw + 5px);
    font-family: 'Lato', 'Arial';
    text-align: center;
    margin-bottom: 40px;
}

.pagenation a {
    color: #000;
    text-decoration: none;
    margin: 0 5px;
    padding: 8px 13px;
    transition-delay: 500ms;
    transition: 500ms;
    border-radius: 100px;
}

.pagenation a:hover:not(.active) {
    background: #d1d8e0;
}

.pagenation a.active {
    background: #613317;
    color: #fff;
    border-radius: 100px;
}

@media (max-width: 1100px) {
    .product-listform {
        height: 700px
    }

    .pagenation a {
        margin: 0 2px;
        padding: 8px 8px;
    }

}

@media (max-width: 668px) {
    .product-listform {
        height: 500px
    }

    .pagenation a {
        margin: 0 2px;
        padding: 8px 8px;
    }

    .aa-product-price {
        font-size: 10PX;
    }

    .aa-product-title {
        height: 60px;
    }

}