.basket {
	overflow-y:scroll;
	max-height: 530px;
	width: 75%;
  margin: 15px 0px 0px 190px; 
	background-color: rgb(236, 236, 236);
}

.tdimg{
  width: 15%;
  margin: 10px px 0px 1140px;

}

.inner3 {
    float: right;
    width: 80%;
    height: 86px;
    writing-mode: horizontal-tb;
    background-color: white;
    margin:5px 90px 5px 550px;
    font-size: 13px;
    padding-right: 5%;
}


.text1{
  border-spacing: 10px;
}

.text2{
  border-spacing: 10px;
}

.text3{
  border-spacing: 10px;
}

.total{
  float:right;
  padding-right:10%;
  font-size: 13px;
  margin:0px 0px 5px 0px;
}


.address{
  float: left;
  font-size: 14px;
  margin:60px 0px 5px 95px;
}

.addresstext{
  width:74%;
  margin:5px 150px 15px 95px;
}

.Request{
float: left;
font-size: 14px;
margin:10px 60px 5px 95px;
}


.Request-text{
width:74%;
margin:0px 0px 15px 94px;
float: left;
}

.consent{
  float: left;
  width: 20%;
  /* padding-right: 50px;  */
  padding-left: 8px;
  margin:1px 40px 5px 99px;
}

.checkout{
  float: right;
  margin:1px 35px 5px 95px;
  background-color: white;
}

.callnumber{
  float: left;
  font-size: 14px;
  margin:5px 0px 5px 95px;
}

.phonetext{
  width:74%;
  margin:5px 110px 15px 95px;
}