/* body{
    background-image: url(../img/colombia-g93bf29a6a_1920.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
} */
.wrap{
    width:80%; margin:auto; margin-top: 5%; margin-bottom:5%; 
    border:solid rgb(62,36,12) 5px;
    border-radius:10px; 
    background-color: rgb(194, 194, 172);
    
}
.detailBox {
    width:100%;
    border-bottom: 1px solid rgb(51, 4, 4);
}
.titleBox {
    padding:2%;
}
.titleBox table{
    width:100%;
}
.comment-profileimage{
    width:10%;
    text-align: left;
}
.comment-profileimage img{
    border-radius: 50%;
    width:50px;
    height:50px;
}
.comment-profilename{
    width:30%;
    text-align: left;
}
.comment-profilename label{
  color:rgb(0, 0, 0);
  margin-left:1%;
  font-size: large;
}
.taste-grade{
    width:60%;
    text-align: right;
}
.taste-grade img{
    width:30px;
    height:30px;
}
@media(max-width: 420px){
    .taste-grade img{
        width:20px;
        height:20px;
    }
    .comment-content-Box .comment-text p{
        font-size:small;
    }
    .comment-info-Box span{
        font-size: x-small;
    }
    .comment-info-Box .comment-date{
        width:21%;
    }
    .clike-button{
        /* width:1% */
        font-size:x-small
    }
    .clike-button button{
        vertical-align: bottom;
    }
    .clike-button p button #like_icon{
        font-size: 10px;
    }
    
    .comment-editdel{
        /* width:10%; */
        font-size:xx-small;
    }
    .nested-edit .nested-edit-btn button{
        font-size:10px;
    }
}  
/* 댓글 */
.commentBox {
    padding:1%;
    border-top:1px solid rgb(51, 4, 4);

    font-size: medium;
}
.commentBox table{
    width:100%;
    /* border-collapse: collapse */
    /* border-spacing:10px; */
    border-spacing:0.8rem;
}
.comment-image{
    width:40%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;;
}
.comment-image img{
    width:100%;
    height:100%;
    object-fit: contain;
}
.comment-text{
    width:60%;
    height:100%;
    background-color:  rgb(255, 255, 255);
    border-radius: 5px;
}
.comment-text p{
    margin:1%;
    padding:2%;
    border-radius: 5px;
    height:100%;
    object-fit: contain;
}
/* 커멘트 기타 */
.comment-info-Box{
    /* border-top: dotted 1px rgb(62,36,12); */
    height:5%;
    border-radius: 10px;
}
.comment-date{
    width:20%;
    padding-left:1.5%;
    text-align: left;
    font-size: medium;
    /* background-color: #3E240C; */
}    
.clike-button{
    width:100%; 
    text-align: right;
    /* vertical-align: bottom; */
    /* background-color: blueviolet; */
}
.clike-button button{
    border:none;
    background:none;
    /* background-color: #917255; */
    width:15%;
}
.clike-button #like_icon{
    font-size: 15px;
}
/* .like-count{
    width:15%;
    text-align: right; 
} */
.comment-editdel{
    font-size:medium;
    /* width:20%; */
    /* text-align: right; */
    background-color: #917255a7;
    border-radius: 10px;
}
.comment-editdel span{
    cursor:pointer;
    padding:1%;
    height:15%;
    /* background-color:yellow;
    border-radius: 10px; */
}
/* 대댓글 보기*/
.nestedcommentBox {
    padding:2% ;
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(51, 4, 4);
    overflow: hidden;
}
.nestedcommentBox table{
    width:100%;
    max-height: 50px;
}
.nestedcommentBox .first-column{
    width:10%;
}
.first-column img{
    border-radius:50%;
    width:50px;
    height: 50px;
}
.nestedcommentBox .second-column{
    width:60%;
    text-align:left;
}
.nestedcommentBox .profilename{
    font-weight: bold;
    font-size: medium;
}
.nestedcommentBox .comment{
    font-size: small;

}
.nestedcommentBox .nestedcomment .comment p{
    word-break: break-all;
}
.nestedcommentBox .third-column{
    width:13%;
    text-align:right;
    font-size: small;
}
/* 대댓글 수정 */
.nested-edit{
    display: none;
    width:100%;
    margin-top:2%;
}
.nested-edit-text{
    width:90%;
}
.nested-edit-text textarea{
    width:100%; 
    border:none; 
    border-radius:12px; 
    resize: none;
}
.nested-edit-btn{
    width:10%; 
    text-align: right;
}
.nested-edit-btn button{
    border:none; 
    border-radius:10%; 
    height:12%px; 
    font-size: 14px; 
    background-color: rgb(62, 15, 15); 
    color:beige;
}
/* 대댓글 작성 */
.new-nestedcommentBox{
    padding:1% 2% ;
    width:100%;
}
.nested-create{
    margin: auto;
    width:100%;
    margin-top:1%;
}
.nested-create-text{
    width:90%;
}
.nested-create-text textarea{
    width:100%; border:none; border-radius:12px; resize: none;
}
.nested-create-btn{
    width:10%; text-align: center;
}
.nested-create-btn button{
    border:none; 
    border-radius:10%; 
    height:12%; 
    background-color: rgb(62, 15, 15); 
    color:aliceblue;
}
#edit_nested:hover{
    cursor: pointer;
}
#del_nested:hover{
    cursor: pointer;
}
/* js에 있음 */
#coffeebean_img{
    margin-right:-1px;
}
#coffeebean_img_{
    margin-right:-1px;
}

/* 댓글 수정 모달창 */
.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 350px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  
    transform: translateX(-50%) translateY(-50%);
}

.modal_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;
}

.modal_title_side{
    flex: 0 0 40px;
    text-align: center;
}

.edit-commentform{
    width: 100%;
    height: 200px;
    margin:auto;
}
.edit-commentform form{
    text-align: center;
}
.edit-commentform textarea{
    margin-top:20px;
    border-radius: 10px;
}
#output_image{
    max-width: 250px;
    width: 100%;
    max-height: 200px;
    height: 100%;
}

.edit-text {
    max-width: 300px;
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid #3E240C;
}
.editgrade{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-commentbtn {
    margin-top: 10px;
    float: right;
    width: 8%;
    height: 10%;
    /* background-color: #3E240C; */
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px; 
    font-size:15px;
    box-shadow: none;
}
#close_modal {
    cursor: pointer;
}
#coffeebean_{
    color: transparent; text-shadow: 0 0 2px rgba(255,255,255,.7), 0 0 0 #000;
}