#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(147, 36, 36, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
    background: rgb(92, 103, 32);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 20px solid rgba(53, 4, 4, 0.18);
    width: 700px;
    height: 900px;
    position: relative;
    top: 100px;
    padding: 10px;
}
/* #modal .title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: white;
    
} */
/* #modal .title h2 {
    display: inline;
} */
#modal .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    /* text-shadow: 1px 1px 2px rgb(0, 0, 0); */
    color: white;
    display:flex;
    flex-direction:column;
}

/* 모달창 안 댓글 박스 */
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:100%;
    margin:auto;
}
.titleBox {
    padding:10px;
    display: flex;

}
.titleBox label{
  color:rgb(0, 0, 0);
  margin-top:10px;
  margin-left:10px;
  margin-right:30px;
  display:inline-block;
}
.titleBox img{
    border-radius: 50%;
    width:50px;
    height:50px;
}
/* 평점 */
.titleBox .star-grade{
    letter-spacing: -30px;
    float:right;
    width: 200px;
    position: absolute;
    right:50px
}
.titleBox fieldset{
    display: inline-block;
    direction: rtl;
    border: 0;
}
#myform input[type=radio]{
    display: none; 
}

#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgb(79, 9, 9); /* 마우스 클릭 체크 */
}

#myform label i{
    font-size: 20px; /* 이모지 크기 */
    color: transparent; /*기존 이모지 컬러 제거8*/
    text-shadow: 0 0 0 #ffffff; /* 새 이모지 색상 부여 */
}

#myform label i:hover{
    text-shadow: 0 0 0 rgba(1, 3, 0, 0.621); /* 마우스 호버 */
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 rgba(215, 22, 22, 0.466); /* 마우스 호버 뒤에오는 이모지들 */
}

#myform fieldset legend{
    text-align: left;
}

.commentBox {
    padding:20px;
    border-top:1px solid rgb(255, 242, 242);
    display:flex;
}
.commentBox img{
    width:300px
}
.commentBox p{
    margin-left:30px;
    margin-top:10px 0;
}
/* 원두 이미지 이모티콘 실험*/
.commentBox button{
    background: transparent;
    border:none;
}
.commentBox p img{
    width:30px;
}
/* 원두 이미지 이모티콘 실험 여기까지 */
/* .commentBox .form-group:first-child, .nestedcommentBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .nestedcommentBox .form-group:nth-child(2) {
    width:18%;
} */
.commentlikeBox{
    margin-bottom:10px;
}
.commentlikeBox p{
    float:left;
    margin-left: 20px;
}
/* 좋아요 */
.like-button{
    border:none;
    background:none;
    float:right;
}
/* 대댓글 */
.nestedcommentBox {
    border-top:1px solid rgb(255, 255, 255);
    padding:10px;
    /* background-color: pink; */
    display:flex;
    flex-direction: column;
    margin-left:30px;
    /* margin:auto; */
    height:450px;
}   

.nestedcommentList {
    padding:0;
    list-style:none;
    max-height:100%;
    overflow:auto;
}
/* 얘가 nestedcomment */
.nestedcommentList li {
    margin:0;
    /* margin-top:10px; */
}
/* 이미지랑 대댓글 */
.nestedcommentList li > div {
    display:table-cell;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
    width:30px;
    margin-right:10px;
    float:left;
}
.commentText {
    /* background-color: black; */
    width:100%;
    margin-right:10px;
}
.commentText p {
    margin:0;
}
.commentText span {
    float:right;
    position:relative;
}
.sub-text {
    color:rgb(255, 253, 253);
    font-family:verdana;
    font-size:11px;
}
/* 대댓글작성 */
.write-nestedcomment{
    margin: auto;
    width:100%;
}
.write-nestedcomment .form-inline{
    display:flex;
    
}
.write-nestedcomment .form-inline .form-group input{
    width:480px;
    margin-left:35px;
    margin-right: 10px;
}
.write-nestedcomment .form-inline .form-group button{
    width:60px;
    margin-right: 10px;
}
.write-nestedcomment{
    position:fixed;
    bottom:20px;
}

