#aa-header .aa-header-bottom .aa-header-bottom-area .aa-search-box button {
  background-color: #6d1111;  
}
#menu {
  background-color: #6d1111; 
} 
#aa-promo .aa-promo-area .aa-promo-banner .aa-prom-content h4 a:hover {
  color: #6d1111 !important;
}
