#aa-header .aa-header-bottom .aa-header-bottom-area .aa-search-box button {
  background-color: #3E240C;  
}
#menu {
  background-color: #3E240C; 
} 
#aa-promo .aa-promo-area .aa-promo-banner .aa-prom-content h4 a:hover {
  color: #3E240C !important;
}
