.quantity input{
    width:15%
}
#form-commentInfo{
    width: 100%;
}

.review-Edit{
    margin: 0px auto;
    max-width:1200px;
    width: 100%;
}

#comment-count{
    margin-bottom: 10px; 
}

#comment-input{
    width: 80%;
    height: 3.3em;
}

#submit{
    background-color: #3E240C;
    width: 5.5em;
    height: 3.3em;;
    font-size: 15px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
}
#submit:hover {
    background-color: #8b7158;
    color: rgb(0, 0, 0);
}

#voteUp, #voteDown{
    width: 3.5em;
    height: 1.9em;
    background-color: aqua;    
}

#comments{
    margin-top: 10px;
}

.eachComment{   
    width :50%; 
    margin: 10px;  
    padding: 0.5em; 
    border-bottom: 1px solid #c1bcba;
}

.eachComment .name{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.3em;
    display: flex;
    justify-content: space-between;
}

.eachComment .inputValue{
    font-size: 1.2em;
    font-style: italic;    
}

.eachComment .time{
    font-size: 0.7em;
    color: #c1bcba;
    font-style: oblique;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
}

.eachComment .voteDiv{
    display: flex;
    justify-content: flex-end;
}

.eachComment .deleteComment{
    background-color: red;
    color: aliceblue;
}

#reviewbox{
    border: 3px solid rgb(212, 22, 22);
    width: 850px;
    height: auto;
    margin-bottom: 35px;

}
.user-block .username{
    position: relative;
    
    width: 300px;
    height: 30px;
    top: -60px;
    left: 60px;
}
.user-block .content{
    position: relative;
    
    width: 750px;
    height: auto;
    left: 60px;
    bottom: 55px;
}
.user-block .like{
    position: relative;
    
    left: 730px;
    bottom:113px;
    width: 100px;
}
.user-block .time{
    position: relative;
    bottom: 160px;
    left:375px;
    width: 350px;
}
.user-block .point{
    position: relative;
    width: 60px;
    bottom: 80px;
}
#image_preview{
    position: relative;
}
.grade{
    position: relative;
}
.image img{
    width: 50%;
    height: 50%;
}
#comment_form{
    width: 100%;
}

.recommend {
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0 5px;
    padding: 20px 0;
    align-items: center;
}

.divrecommend{
    display: inline-block;
    max-width: 200px;
    width: 100%;
}

.like-button{
    float: right;
    max-width: auto;
    height: 60px;
    padding: 10px;
}

.order-button {
    max-width: 400px;
    width: 100%;
    height: 60px;
    font-size: large;
    background-color: #3E240C;
    color: white;
    margin: auto 0px;
    cursor: pointer;
}
.order-button:hover {
    background-color: #8b7158;
    color: rgb(0, 0, 0);
}

.cart-button{
    max-width: 100px;
    width: 100%;
    height: 60px;
    background-color: #3E240C;
    color: white;
    margin: auto 0px;
    font-size: x-large;
    cursor: pointer;
}
.cart-button:hover {
    background-color: #8b7158;
    color: rgb(0, 0, 0);
}

#like_icon{
    vertical-align: middle;
    font-size: x-large;
    cursor: pointer;
    margin: auto 0px;
}

.coffeebean-text{
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.coffeebean-image{
    width: 20px;
    height: 20px;
}

/* 댓글 css */
.comment-list {
    text-align: center;
}

.comment-form{
    display: block;
    max-width: 800px;
    width: 100%;
    border-top: 0.5px solid #3E240C;
    height: 200px;
    margin: 0px auto;
}

.comment-table {
    width: 100%;
    height: 100%;
    color: #3E240C;
}
.profile-image {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0px 20px;
}
.profile-name{
    float: left;
}

.table-image {
    
    background-repeat : no-repeat;
    background-size : cover;
}
.profile-like {
    float: right;
    margin-right: 10px;
}
#profile-icon {
    vertical-align: middle;
    font-size: x-large;
    cursor: pointer;
    margin: auto 0px;
}

.table-content {
    margin-left: 10px;
}
.table-font{
    padding: 0px 10px;
}
.table-righttext {
    float: left;
}

.table-lefttext {
    float: right;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

/* .modal.show {
    display: block;
} */
  
.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 350px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  
    transform: translateX(-50%) translateY(-50%);
}

.modal_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;
}

.modal_title_side{
    flex: 0 0 40px;
    text-align: center;
}

.edit-commentform{
    width: 100%;
    height: 200px;
}

#output_image{
    max-width: 250px;
    width: 100%;
    max-height: 200px;
    height: 100%;
}

.edit-text {
    max-width: 300px;
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid #3E240C;
}

.edit-commentbtn {
    margin-top: 10px;
    float: right;
    width: 100px;
    height: 40px;
    background-color: #3E240C;
    color: white;
    cursor: pointer;
}

.edit-commentbtn:hover {
    background-color: rgb(173, 152, 132);
    color: black;
}

#close_modal {
    cursor: pointer;
}

.recommend-form {
    width: 80%;
    height: auto;
    background-color: #a7978945;
    margin: 0px auto;
}

.divrecommend{
    height: 260px;
}

.product_img{
    align-items: center;
    margin-top: 50px;
    object-fit: contain;
}

.slick-slide {
    margin: 0px 20px;
    width: 80%;
}

.slide {
    width: 150px;
    height: 150px;
    background-size: cover;
    object-fit: cover;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 76%;
    height: 400px;
    margin-top: 50px;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.image{
    border-radius: 20px;
}

.recommendimage > img{
    width: 30%;
}
.header_navi {
    margin-left: 10px;
    margin-right: 20px;
}
.slick-slide > a{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.minus {
    cursor: pointer;
}
.plus {
    cursor: pointer;
}
#rowdetail {
    display: flex;
    flex-direction: row;
}
#productimage{
    min-width: 250px;
    min-height: 250px;
    width: 30%;
    height: 30%;
}

@media screen and (max-width: 600px) {
    .recommend-form {
        width: 100%;
    }
    .image{
        width: 100px !important;
        height: 150px !important;
        object-fit: cover;
        background-size: cover;
    }
    .recommend{
        height: 200px !important;
    }
    #recommend{
        height: 300px !important;
    }
    .slick-track{
        height: 250px;
    }
    .recomend_text{
        font-size: 15px;
    }
}
@media screen and (max-width: 500px) {
    #description > h3{
        font-size: 15px;
    }
}

.image{
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
#rowdetail{
    flex-direction: column !important;
    width: 80% !important;
    margin: 0 auto;
}
.col-md-3 {
    display: block !important;
    width: 25% !important;
    justify-content: center !important;
    align-items: center !important;
    float: left !important;
    display: flex !important;

}