.div0{
    width:490px;
    position: relative;
    top: -22px;
}


.div1{
  width: 530px;
  position: relative;
  left: 368px;
  top: -225px;
  
}

.div2{
    width: 530px;
    position: relative;
    top: -439px;
    left: 760px;
}


.div3{
    width: 530px;
    position: relative;
    top: -400px;
    left: 370px;
}


.div4{
    width: 530px;
    position: relative;
    top: -660px;
    right: 10px;
   
}