.aa-promo-left {
width: 80%;
height: 100px;
background-color: #F3ECE4;
display: inline-block;
margin-left: 143px;
}

 .roundimg{
    width: 30%;
    border-radius:70%;
    margin-top: 10px;
    overflow: hidden;
 } 

 .roundimg2{
   width: 20%;
   border-radius:70%;
   margin-top: 30px;
   margin-left: 50px;
   overflow: hidden;
} 

 .aa-single-promo-right1{
   width: 80%;
   height: 100px;
   background-color: #F3ECE4;
   display: inline-block;
 }

 .aa-single-promo-right2{
   width: 33%;
   height: 110px;
   background-color: #F3ECE4;
  
 }

 .aa-single-promo-right3{
   width: 80%;
   height: 100px;
   background-color: #F3ECE4;
 }

 .aa-single-promo-right4{
   width: 80%;
   height: 100px;
   background-color: #F3ECE4;
 }

