/* 본문 */
.profile-content {
    background-color: rgb(194, 194, 172);
    min-width: fit-content;
    border-radius: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
}

.profile-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-table {
    width: 40%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.profile-image button {
    border: none;
    background: transparent;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.pw-change-btn button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.pw-change-btn button i {
    font-size: large;
}

.profile-email {
    font-size: large;
    height: 30%;
}

#profile_email {
    text-align: center;
}

/* 입력란 */
.input-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.input-boxes table {
    margin-top: -5%
}

.input-boxes input {
    border: 0;
}

.profile-content span {
    display: inline-block;
    width: 120px;
    color: rgb(30, 14, 14);
    font-weight: bold;
    font-size: 13px;
}

.profile-content .button-profile-edit {
    margin-top: 5%;
    /* background-color: chartreuse; */
    margin-bottom: 5%;
}

.profile-content .profile-input-form .btn {
    background-color: rgb(30, 14, 14);
    border: none;
    border-radius: 5rem;
    width: 100px;
    height: 30px;
    font-size: small;
    color: beige
}

/* 모달 */
.modal-overlay {
    width: 100%;
    height: 500px;
    text-align: center;
    display: none;
    position: absolute;
}

#modal .modal-window {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: rgb(31, 18, 2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transform: translateX(-50%) translateY(0%);
}

#modal .close-area {
    position: fixed;
    right: 2px;
    top: 7px;
    padding-right: 10px;
    cursor: pointer;
    color: white;
}

.content-modal h5 {
    font-weight: bold;
    color: rgb(255, 255, 253);
}

.pw-input-form {
    margin-bottom: 5%;
}

.pw-input-form span {
    display: inline-block;
    width: 120px;
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.content-modal .input-group {
    width: 100%;
}

/* 버튼 */
.content-modal .button-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-modal .button-modal button {
    background-color: rgb(19, 4, 4);
    border: none;
    font-size: 11px;
    border-radius: 5rem;
    width: 80px;
    height: 30px;
    margin-top: 2%;
    color: beige
}

.content-modal .button-modal .button1 {
    margin-right: 5px;
    margin-top: 2%;
}