@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,400);

body{
    /* width:100%; */
    /* height:100%; */

    background:#3E240C;
}

/* .logo-image{
    width:150px;
    height:150px;
    text-align:left;   
} */
.first-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.icon {
  font-family: 'Josefin Sans', sans-serif;
  
  margin-top: 30%;
}

.cup {
  width:80px;
  height:76px;
  background:#39543f;
  border-radius:50%;
  /* position:absolute;
  top:50%;
  left:50%; */
  /* margin-left:-68px; */
  /* margin-left:-38px;
  top:100px; */
  box-shadow:-4px -1px 0 rgba(0,0,0,0.2);
}

/* 컵 바로 밑 받침 */
.cup:after{
  content:"";
  width:66px;
  height:66px;
  position:absolute;
  border-radius:50%;
  background:linear-gradient(-45deg, #cbcbcb, #f2f2f2 );
  /* background-color: blueviolet; */
  top:497px;
  left:583px;
  /* margin-left:-9px;
  margin-top:-26px; */
  /* margin-left:-33px;
  top:5px;*/
}

/* 커피 컵 전체 */
.coffee{
  width:47px;
  height:47px;
  background:#613317;

  /* background-image: linear-gradient(15deg, transparent 0px, transparent 29px, rgba(255,255,255,0.05) 29px, rgba(255,255,255,0.05) 47px); */
  border-radius:50%;
  /* position:absolute; */
  /* left:450px;
  top:50%; */
  margin-left:10px;
  margin-top:1px;
  /* margin-top: -20px;
  margin-left:-50px; */
  /* z-index:1; */
  border:3px solid #e9e9e9;
  box-shadow:-3px 2px 0 rgba(0,0,0,0.1);
  transform:rotate(30deg);
  transition:transform 0.3s;
}

/* 커피 김뚜껑 */
.coffee:before {
  content:"";
  width:47px;
  height:47px;
  background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 95%), radial-gradient(5% 9%, ellipse, rgba(255,255,255,0.1), transparent 5%), radial-gradient(0% 0%, ellipse, rgba(255,255,255,0.3), transparent 55%);
  background-image: -webkit-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 95%), -webkit-radial-gradient(5% 9%, ellipse, rgba(255,255,255,0.1), transparent 5%), -webkit-radial-gradient(0% 0%, ellipse, rgba(255,255,255,0.3), transparent 55%);
  background-image: -moz-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 95%), -moz-radial-gradient(5% 9%, ellipse, rgba(255,255,255,0.1), transparent 5%), -moz-radial-gradient(0% 0%, ellipse, rgba(255,255,255,0.3), transparent 55%);
  position:absolute;
  /* left:0; */
  left:0%;
  border-radius:50%;
}

/* 손잡이 */
.coffee:after{ /*assa*/
  content:"";
  width:15px;
  height:8px;
  /* position:absolute; */
   /* left:-19px;
  top:18px; */
  /* left:-35%; */
  /* top:43%; */
  background:linear-gradient(90deg, #d6d6d6, #aeaeae);
  box-shadow:0px 2px 0 rgba(0,0,0,0.2);
}

.smoke {
  width:70px;
  height:100px; 
  /* background:; */
  position:absolute;
  left:50%;
  margin-left:-90px;
  /* top:43px; */
  top:280px;
  background-image: -webkit-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -webkit-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -webkit-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%), -webkit-radial-gradient(55% 35%, ellipse, rgba(255,255,255,0.2), transparent 15%);
  background-image: -moz-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -moz-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -moz-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%), -moz-radial-gradient(55% 35%, ellipse, rgba(255,255,255,0.2), transparent 15%);
  background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%), radial-gradient(55% 35%, ellipse, rgba(255,255,255,0.2), transparent 15%);
  animation:bk 11s infinite ;
}

.smoke:after {
  content:"";
  width:100px;
  height:100px; 
  /* background:; */
  position:absolute;
  background-image: -webkit-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -webkit-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -webkit-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%);
  background-image: -moz-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -moz-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -moz-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%);
  background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%);
  animation:bk 2s 1s infinite;
}


@keyframes bk {
  0%{ background-position:0 0; opacity:0; }
  15%, 85% { opacity:1;}
  100%{ background-position:-20px -25px, -5px -25px, 0px -25px, 0px -25px; opacity:0;}
}

@keyframes anime_textup { 0% { top: 0; } 20% { top: -0.2rem; } 40% { top: 0 } 60% { top: 0 } 80% { top: 0 } 100% { top: 0 } }

.survey{
  margin-top : 0;
  text-align: center;
  font-family: 'Jua', sans-serif;
}
.maintext{
  margin-top:30%;
}
.maintext span{
  font-size: 50px;
  color: white;
  position: relative;
  animation: anime_textup 1.5s infinite;
}

.maintext span:nth-of-type(1){animation-delay: .1s;}
.maintext span:nth-of-type(2){animation-delay: .2s;}
.maintext span:nth-of-type(3){animation-delay: .3s;}
.maintext span:nth-of-type(4){animation-delay: .4s;}
.maintext span:nth-of-type(5){animation-delay: .5s;}
.maintext span:nth-of-type(6){animation-delay: .6s;}
.maintext span:nth-of-type(7){animation-delay: .7s;}
.maintext span:nth-of-type(8){animation-delay: .8s;}
.maintext span:nth-of-type(9){animation-delay: .9s;}
.maintext span:nth-of-type(10){animation-delay: 1.0s;}
.maintext span:nth-of-type(11){animation-delay: 1.1s;}


.gradient-btn {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 20px;
  color: #b2876f;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to right, rgba(178, 135, 111, 0) 25%, rgba(178, 135, 111, 0.8) 75%);
  background-position: 1% 50%;
  background-size: 400% 300%;
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor:pointer;
}
.gradient-btn:hover {
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.gradient-btn:hover {
  color: white;
  color: #fff;
}

.survey p {
  font-size: 15px;
  margin-top: 100px;
  cursor:pointer;
  color: #795e50;
}

@keyframes fadeIn {0% {opacity : 0;}100% {opacity : 1;}}

.notView {
  width: 60%;
  max-width: 700px;
  height: 600px;
  background-color: white;
  margin: 0px auto;
  border-radius: 5px;
  animation: fadeIn 2s;
  display: none;
}

.scrollBar { 
  overflow-y: scroll;
}

.scrollBar::-webkit-scrollbar {
  width: 10px;  /* 스크롤바의 너비 */
}

.scrollBar::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #979492;
  border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}


.survey-table {
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.survey-table p {
  color: #4e342e;
  font-size: 30px;
  font-family: 'Stylish', sans-serif;
}

#static-base, #shadow-base {
  fill: none;
  stroke: rgb(68, 27, 0);
	stroke-dasharray: 300;
  stroke-linecap: round; 
	stroke-width: 20;
	mask: url(#mask);
}

#base {
	fill: none;
  stroke: antiquewhite;
	stroke-dasharray: 300;
  stroke-linecap: round;
	stroke-width: 20;
	mask: url(#mask);

}

#shadow-base {
  fill: none;
  stroke: #441b00;
}

.star-grade{
  margin: 0 auto;
  text-align: center;
  margin: auto 0px;
}

.sweetform{
  opacity: 0.3;
}
/* sweet form */
#sweet fieldset{
  display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
  direction: rtl;
  border: 0; /* 필드셋 테두리 제거 */
}
#sweet input[type=radio]{
  display: none; /* 라디오박스 감춤 */
}

#sweet input[name=sweet]:checked ~ label{
  color: unset; /* 마우스 클릭 체크 */
}

#sweet label{
  font-size: 40px;
  color: transparent; /* 기존 이모지 컬러 제거 */
  text-shadow: 0 0 0 #9c9c9c; /* 새 이모지 색상 부여 */
}

#sweet label:hover{
  color: unset; /* 마우스 호버 */
}
#sweet label:hover ~ label{
  color: unset; /* 마우스 호버 뒤에오는 이모지들 */
}

#sweet fieldset legend{
  text-align: left;
}
.aromaform{
  opacity: 0.3;
}
/* aroma form */
#aroma fieldset{
  display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
  direction: rtl;
  border: 0; /* 필드셋 테두리 제거 */
}
#aroma input[type=radio]{
  display: none; /* 라디오박스 감춤 */
}

#aroma input[name=aroma]:checked ~ label{
  color: unset; /* 마우스 클릭 체크 */
}

#aroma label{
  font-size: 40px;
  color: transparent; /* 기존 이모지 컬러 제거 */
  text-shadow: 0 0 0 #9c9c9c; /* 새 이모지 색상 부여 */
}

#aroma label:hover{
  color: unset; /* 마우스 호버 */
}
#aroma label:hover ~ label{
  color: unset; /* 마우스 호버 뒤에오는 이모지들 */
}

#aroma fieldset legend{
  text-align: left;
}

.acidityform{
  opacity: 0.3;
}
/* acidity form */
#acidity fieldset{
  display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
  direction: rtl;
  border: 0; /* 필드셋 테두리 제거 */
}
#acidity input[type=radio]{
  display: none; /* 라디오박스 감춤 */
}

#acidity input[name=acidity]:checked ~ label{
  color: unset; /* 마우스 클릭 체크 */
}

#acidity label{
  font-size: 40px;
  color: transparent; /* 기존 이모지 컬러 제거 */
  text-shadow: 0 0 0 #9c9c9c; /* 새 이모지 색상 부여 */
}

#acidity label:hover{
  color: unset; /* 마우스 호버 */
}
#acidity label:hover ~ label{
  color: unset; /* 마우스 호버 뒤에오는 이모지들 */
}

#acidity fieldset legend{
  text-align: left;
}

.balanceform{
  opacity: 0.3;
}

table hr {
  color: #3E240C;
  size: 300px;
}

/* balance form */
#balance fieldset{
  display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
  direction: rtl;
  border: 0; /* 필드셋 테두리 제거 */
}

#balance input[type=radio]{
  display: none; /* 라디오박스 감춤 */
}

#balance input[name=balance]:checked ~ label{
  color: unset; /* 마우스 클릭 체크 */
}

#balance label{
  font-size: 40px;
  color: transparent; /* 기존 이모지 컬러 제거 */
  text-shadow: 0 0 0 #9c9c9c; /* 새 이모지 색상 부여 */
}

#balance label:hover{
  color: unset; /* 마우스 호버 */
}
#balance label:hover ~ label{
  color: unset; /* 마우스 호버 뒤에오는 이모지들 */
}

#balance fieldset legend{
  text-align: left;
}

.sendSurvey {
  display: none;
  padding: 1em 2em;
  border-radius: 20px;
  color: #b2876f;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to right, rgba(178, 135, 111, 0) 25%, rgba(178, 135, 111, 0.8) 75%);
  background-position: 1% 50%;
  background-size: 400% 300%;
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor:pointer;
  margin: 20px auto;
}
.sendSurvey:hover {
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  color: black;
  background-color: wheat;
  
}

.show-screen{
  width: 60%;
  height: auto;
  margin: 0px auto;
  padding: 20px;
  color: white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .show-screen table{
  margin-bottom: 20px;
} */

.show-image{
  width: 100%;
  min-width:200px;
  
}

.show-txt{
  
  font-family: 'Stylish', sans-serif;
  font-size: medium;
  text-align:left;
  vertical-align: top;
  max-height:200px;

  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.show-txt::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.signup-btn {
  /* display: block; */
  padding: 1em 2em;
  border-radius: 20px;
  color: #b2876f;
  /* margin-top: 2rem; */
  font-weight: bold;
  font-size: 0.5rem;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  text-decoration: none;
  background: linear-gradient(to right, rgba(178, 135, 111, 0) 25%, rgba(178, 135, 111, 0.8) 75%);
  background-position: 1% 50%;
  background-size: 400% 300%;
  transition: 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor:pointer;
  /* float: right; */
  margin:auto;
}
.signup-btn:hover {
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.signup-btn:hover {
  color: white;
  color: #fff;
}

.login-text{
  color: black;
  /* text-align: center; */
}

.login-text a{
  color: rgb(139, 121, 121);
  text-decoration-line : none;
}